.root {
    -fx-background-color: #636363;
}

.text {
    -fx-fill: white;
}

.menu-bar .text {
    -fx-fill: #151515;
}

.table-view .text {
    -fx-fill: #151515;
}

.table-view .column-header .text {
    -fx-fill: white;
}

.button {
    -fx-background-color: #8f8f8f;
}

.text-field {
    -fx-background-color: #8f8f8f;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #b1b1b1;
}

.password-field {
    -fx-background-color: #8f8f8f;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #b1b1b1;
}

.table-view {
    -fx-background-color: #777777;
}

.column-header {
    -fx-background-color: #8f8f8f;
}

.separator {
    -fx-opacity: 0.33;
}

.circle {
    -fx-stroke: linear-gradient(from 0.0% 0.0% to 100.0% 100.0%, #8a8a8a 0.0%, #979797 100.0%);
}

#logo {
    -fx-blend-mode: color-dodge;
}

#logInError {
    -fx-fill: #ff6565;
}

#welcomeText {
    -fx-fill: white;
}